* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

nav {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #bec2c5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 0 1.3em;
  position: fixed;
  top: 0;
  background-color: white;
  -webkit-box-shadow: 0 10px 10px #c2c2c2;
          box-shadow: 0 10px 10px #c2c2c2;
  z-index: 10;
}

nav .nav__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav .nav__links {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  background-color: #00a7e0;
  position: fixed;
  height: 90%;
  width: 100%;
  top: 100px;
  right: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 2em;
}

nav .nav__links li {
  list-style: none;
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav__links li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  font-size: 0.8rem;
}

nav .nav__links li a:hover {
  color: #343e48;
}

nav .nav__links li .hoverOverlay {
  position: absolute;
  -webkit-transform: skew(0);
          transform: skew(0);
  background-color: white;
  width: 50%;
  height: 40%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

nav .nav__links li .hovered {
  color: black;
}

nav .nav__links li .hovered:hover {
  color: #00a7e0;
}

nav .burger-menu {
  cursor: pointer;
  position: fixed;
  width: 50px;
  height: 35px;
  right: 5%;
  top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

nav .burger-menu .burger__line1,
nav .burger-menu .burger__line2,
nav .burger-menu .burger__line3 {
  background-color: #00a7e0;
  height: 5px;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}

nav .nav-active {
  right: 0%;
}

nav .toggle__links .burger__line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

nav .toggle__links .burger__line2 {
  opacity: 0;
}

nav .toggle__links .burger__line3 {
  -webkit-transform: rotate(45deg) translate(-10px, -10px);
          transform: rotate(45deg) translate(-10px, -10px);
}

.section__maincontent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-top: 7em;
}

.section__maincontent aside,
.section__maincontent article {
  padding: 0 3rem;
}

.section__maincontent aside {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  margin-bottom: 2em;
}

.section__maincontent aside .aside__content .aside__header {
  height: 47px;
  padding: 0 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  background-color: #e4e2e2;
  text-transform: uppercase;
  position: relative;
  font-size: 0.8rem;
  font-weight: 600;
}

.section__maincontent aside .aside__content .aside__header::before {
  content: "";
  background-color: #e4e2e2;
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: -10%;
  right: 15%;
  z-index: -1;
  -webkit-transform: rotate(55deg) skew(20deg);
          transform: rotate(55deg) skew(20deg);
}

.section__maincontent aside .aside__content ul {
  width: 85%;
  margin: 10px auto;
  list-style: none;
}

.section__maincontent aside .aside__content ul li a {
  color: #343e48;
  text-decoration: none;
}

.section__maincontent aside .aside__content ul li::before {
  content: "\2022";
  color: #00a7e0;
  font-weight: bolder;
  display: inline-block;
  width: 4%;
}

.section__maincontent article {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  margin: 1em 1em 2em 1em;
  padding-bottom: 2em;
  text-align: justify;
  border: 1px solid #bec2c5;
  border-top: none;
  -webkit-box-shadow: inset 0 -5px 0 #f4f4f4;
          box-shadow: inset 0 -5px 0 #f4f4f4;
}

.section__maincontent article h1 {
  color: #00a7e0;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
}

.section__maincontent article h2 {
  color: #343e48;
  font-style: italic;
  margin-left: 0.8em;
  font-weight: 600;
  font-size: 1.1rem;
}

.section__maincontent article p {
  margin-top: 2em;
  font-size: 0.8rem;
}

.section__maincontent article .article__assetwrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 2em;
  margin-top: 3em;
}

.section__maincontent article .article__assetwrapper .asset {
  border: 2px solid #38b7e3;
  position: relative;
  cursor: pointer;
}

.section__maincontent article .article__assetwrapper .asset img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__maincontent article .article__assetwrapper .asset .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  color: white;
  background-color: #147da0;
}

.section__maincontent article .article__assetwrapper .asset .overlay h4 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.section__maincontent article .article__assetwrapper .asset .overlay p {
  font-size: 0.8rem;
  margin-top: 0em;
}

.section__maincontent article .article__assetwrapper .asset .overlayLeft {
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
}

.section__maincontent article .article__assetwrapper .asset:hover .overlay {
  opacity: 0.8;
  width: 100%;
}

@media (min-width: 620px) {
  nav .nav__links {
    width: 50%;
  }
  nav .nav__links li .hoverOverlay {
    width: 80%;
  }
  .section__maincontent aside {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }
}

@media screen and (min-width: 960px) {
  nav .nav__links {
    width: 30%;
  }
  .section__maincontent aside .aside__content ul li::before {
    width: 3%;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav .nav__logo {
    margin-left: 27px;
  }
  nav .nav__links {
    position: static;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    -webkit-transition: none !important;
    transition: none !important;
    padding: 0;
  }
  nav .nav__links li {
    height: 100%;
    width: 100%;
  }
  nav .nav__links li a {
    color: #343e48;
  }
  nav .nav__links li a:hover {
    color: #00a7e0;
  }
  nav .nav__links li .hoverOverlay {
    background-color: #00a7e0;
    width: 134px;
    height: 100%;
    -webkit-transform: translate(-50%, -50%) skew(-20deg);
            transform: translate(-50%, -50%) skew(-20deg);
  }
  nav .nav__links li .hovered {
    color: white;
  }
  nav .nav__links li .hovered:hover {
    color: #343e48;
  }
  nav .burger-wrapper {
    display: none;
  }
  .section__maincontent {
    margin-top: 4em;
    -ms-grid-rows: (minmax(300px, 1fr))[auto-fit];
        grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  }
  .section__maincontent aside {
    display: block;
    padding: 0 2.3em;
    margin-bottom: 3em;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .section__maincontent aside .aside__content ul li::before {
    width: 8%;
  }
  .section__maincontent article {
    margin-top: 0;
    margin-right: 2em;
    margin-bottom: 3em;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
  }
  .section__maincontent article .article__assetwrapper {
    grid-auto-rows: 240px;
  }
}

@media screen and (min-width: 1400px) {
  .section__maincontent aside {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .section__maincontent aside .aside__content ul li::before {
    width: 4%;
  }
  .section__maincontent article {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
  }
  .section__maincontent article .article__assetwrapper {
    grid-auto-rows: 230px;
  }
}
/*# sourceMappingURL=main.css.map */