@import "./colors";
@import "./responsive_mixins";
@import "./fonts_sizes";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

// navbar
nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 10vh;
  border-bottom: 1px solid $borderColor;
  padding: 0 1.6rem;

  // For mobile view only
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  box-shadow: 0 10px 10px rgb(189, 189, 189);

  .nav__logo {
    grid-column: 1/4;
    align-self: center;
  }

  .nav__links {
    // display: none;
    position: fixed;
    right: 0;
    top: 10vh;
    height: 90vh;
    background-color: $primaryColor;
    width: 100%;
    transform: translateX(100%);
    z-index: 1;
    // transition: all 0.3s ease;
    li {
      list-style: none;

      a {
        text-decoration: none;
        color: $tertiaryColor;
        text-transform: uppercase;
        font-weight: 600;
        font-size: $regular-14;
        transition: 0.3s;
      }
    }
  }

  // For animation
  // Burger menu when in mobile view
  .burger-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .burger-menu {
      grid-column: 4/5;
      display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: column;
      height: 35px;
      width: 50px;

      // Center element vertically
      align-self: center;

      .burger__line1,
      .burger__line2,
      .burger__line3 {
        background-color: $primaryColor;
        height: 5px;
        width: 90%;
        margin: auto;
        border-radius: 10px;
      }
    }
  }

  .nav-active {
    transform: translateX(0%);
  }
  .toggle__links {
    .burger__line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  }
  .toggle__links {
    .burger__line2 {
      opacity: 0;
    }
  }
  .toggle__links {
    .burger__line3 {
      transform: rotate(45deg) translate(-10px, -10px);
    }
  }
}

.section__maincontent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 4em;
  //   border: 1px solid blue;
  // ====================================================================================
  // ASIDE

  aside {
    padding: 0 2.3em;
    margin-bottom: 3em;
    width: 100%;

    .aside__content {
      .aside__header {
        height: 47px;
        padding: 0 1.2em;
        display: flex;
        align-items: center;
        border-radius: 12px;
        background-color: $secondaryColor;
        text-transform: uppercase;
        position: relative;

        &::before {
          content: "";
          background-color: $secondaryColor;
          position: absolute;
          height: 10px;
          width: 10px;
          bottom: -10%;
          right: 15%;
          z-index: -1;
          transform: rotate(55deg) skew(20deg);
        }
      }

      ul {
        width: 85%;
        margin: 10px auto;
        list-style: none;

        li {
          a {
            color: $tertiaryColor;
            text-decoration: none;
          }

          &::before {
            content: "\2022";
            color: $primaryColor;
            font-weight: bold;
            display: inline-block;
            width: 4%;
          }
        }
      }
    }
  }
  // ====================================================================================
  // ARTICLE
  article {
    padding: 2em 2.3em;
    margin: 0;
    box-shadow: none;
    border: none;

    h1 {
      color: $primaryColor;
      text-transform: uppercase;
      font-size: $regular-30;
      font-weight: bold;
    }
    h2 {
      color: $tertiaryColor;
      font-style: italic;
      margin-left: 0.8em;
      font-weight: 600;
      font-size: $regular-18;
    }

    p {
      margin-top: 2em;
      font-size: $regular-14;
    }

    .article__assetwrapper {
      display: grid;
      grid-gap: 2em;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-auto-rows: auto;
      margin-top: 3em;

      .asset {
        border: 2px solid $imageBorderColor;
        position: relative;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .overlay {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          transition: all 0.3s ease;
          text-align: center;
          color: white;
          background-color: $hoverOverlayColor;

          h4 {
            font-size: $regular-20;
            text-transform: uppercase;
          }
          p {
            font-size: $regular-14;
            margin-top: 0em;
          }
        }

        .overlayLeft {
          height: 100%;
          width: 0;
          top: 0;
          left: 0;
        }

        &:hover .overlay {
          opacity: 0.8;
          width: 100%;
        }
      }
    }
  }
}

@import "./main_mobile.scss";
