@import "./colors";
@import "./responsive_mixins";
@import "./fonts_sizes";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

// Navbar

nav {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid $borderColor;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 1.3em;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 10px 10px rgb(194, 194, 194);
  z-index: 10;

  .nav__logo {
    grid-column: 1/3;
    align-self: center;
  }

  .nav__links {
    grid-column: 3/5;
    background-color: $primaryColor;
    position: fixed;
    height: 90%;
    width: 100%;
    top: 100px;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9;
    transition: all 0.3s linear;
    padding:2em;

    li {
      list-style: none;
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        position: relative;
        font-size: $regular-14;

        &:hover {
          color: $tertiaryColor;
        }
      }

      .hoverOverlay {
        position: absolute;
        transform: skew(0);
        background-color: white;
        width: 50%;
        height: 40%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .hovered {
        color: black;

        &:hover {
          color: $primaryColor;
        }
      }
    }
  }

  // Burger Menu
  .burger-menu {
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 35px;
    right: 5%;
    top: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    z-index: 2;

    .burger__line1,
    .burger__line2,
    .burger__line3 {
      background-color: $primaryColor;
      height: 5px;
      width: 90%;
      margin: auto;
      border-radius: 10px;
    }
  }

  .nav-active {
    right: 0%;
  }
  .toggle__links {
    .burger__line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  }
  .toggle__links {
    .burger__line2 {
      opacity: 0;
    }
  }
  .toggle__links {
    .burger__line3 {
      transform: rotate(45deg) translate(-10px, -10px);
    }
  }
}

// Section - Main content

.section__maincontent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 7em;

  aside,
  article {
    padding: 0 3rem;
  }

  // ======================================================================
  // ASIDE'S STYLE
  aside {
    grid-row: 2/5;
    grid-column: 1/5;
    margin-bottom: 2em;

    .aside__content {
      .aside__header {
        height: 47px;
        padding: 0 1.2em;
        display: flex;
        align-items: center;
        border-radius: 12px;
        background-color: $secondaryColor;
        text-transform: uppercase;
        position: relative;
        font-size: $regular-14;
        font-weight: 600;

        &::before {
          content: "";
          background-color: $secondaryColor;
          position: absolute;
          height: 10px;
          width: 10px;
          bottom: -10%;
          right: 15%;
          z-index: -1;
          transform: rotate(55deg) skew(20deg);
        }
      }

      ul {
        width: 85%;
        margin: 10px auto;
        list-style: none;

        li {
          a {
            color: $tertiaryColor;
            text-decoration: none;
          }

          &::before {
            content: "\2022";
            color: $primaryColor;
            font-weight: bold;
            display: inline-block;
            width: 4%;
          }
        }
      }
    }
  }

  // ======================================================================
  // ARTICLE'S STYLE
  article {
    grid-column: 1/5;
    margin-top: 1em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    text-align: justify;

    h1 {
      color: $primaryColor;
      text-transform: uppercase;
      font-size: $regular-30;
      font-weight: bold;
    }
    h2 {
      color: $tertiaryColor;
      font-style: italic;
      margin-left: 0.8em;
      font-weight: 600;
      font-size: $regular-18;
    }

    p {
      margin-top: 2em;
      font-size: $regular-14;
    }

    // ASSET'S STYLE
    .article__assetwrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-auto-rows: auto;
      grid-gap: 2em;
      margin-top: 3em;

      .asset {
        border: 2px solid $imageBorderColor;
        position: relative;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .overlay {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          transition: all 0.3s ease;
          text-align: center;
          color: white;
          background-color: $hoverOverlayColor;

          h4 {
            font-size: $regular-20;
            text-transform: uppercase;
          }
          p {
            font-size: $regular-14;
            margin-top: 0em;
          }
        }

        .overlayLeft {
          height: 100%;
          width: 0;
          top: 0;
          left: 0;
        }

        &:hover .overlay {
          opacity: 0.8;
          width: 100%;
        }
      }
    }
  }
}

@import "./main_mobile.scss";
