@media (min-width: 620px) {
  nav .nav__links {
    width: 50%;
  }
  nav .nav__links li .hoverOverlay {
    width: 80%;
  }
  .section__maincontent aside {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }
}

@media screen and (min-width: 960px) {
  nav .nav__links {
    width: 30%;
  }
  .section__maincontent aside .aside__content ul li::before {
    width: 3%;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav .nav__logo {
    margin-left: 27px;
  }
  nav .nav__links {
    position: static;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    -webkit-transition: none !important;
    transition: none !important;
    padding: 0;
  }
  nav .nav__links li {
    height: 100%;
    width: 100%;
  }
  nav .nav__links li a {
    color: #343e48;
  }
  nav .nav__links li a:hover {
    color: #00a7e0;
  }
  nav .nav__links li .hoverOverlay {
    background-color: #00a7e0;
    width: 134px;
    height: 100%;
    -webkit-transform: translate(-50%, -50%) skew(-20deg);
            transform: translate(-50%, -50%) skew(-20deg);
  }
  nav .nav__links li .hovered {
    color: white;
  }
  nav .nav__links li .hovered:hover {
    color: #343e48;
  }
  nav .burger-wrapper {
    display: none;
  }
  .section__maincontent {
    margin-top: 4em;
    -ms-grid-rows: (minmax(300px, 1fr))[auto-fit];
        grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  }
  .section__maincontent aside {
    display: block;
    padding: 0 2.3em;
    margin-bottom: 3em;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .section__maincontent aside .aside__content ul li::before {
    width: 8%;
  }
  .section__maincontent article {
    margin-top: 0;
    border: 1px solid #bec2c5;
    border-top: none;
    margin-right: 2em;
    margin-bottom: 3em;
    -webkit-box-shadow: inset 0 -5px 0 #f4f4f4;
            box-shadow: inset 0 -5px 0 #f4f4f4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
  }
  .section__maincontent article .article__assetwrapper {
    grid-auto-rows: 240px;
  }
}

@media screen and (min-width: 1400px) {
  .section__maincontent aside {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .section__maincontent aside .aside__content ul li::before {
    width: 4%;
  }
  .section__maincontent article {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
  }
  .section__maincontent article .article__assetwrapper {
    grid-auto-rows: 230px;
  }
}
/*# sourceMappingURL=main_mobile.css.map */